<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find notspot_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find notspot_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find notspot_navigation)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find notspot_navigation)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find notspot_navigation)/config/base_local_planner_params.yaml" command="load" />
    
    <param name="global_costmap/global_frame" value="map"/>
    <param name="global_costmap/robot_base_frame" value="base_link"/>
    <param name="local_costmap/global_frame" value="odom"/>
    <param name="local_costmap/robot_base_frame" value="base_link"/>
  </node>
</launch>